web/WEB-INF/wsdl/localhost_8080/DateStampWS/DateStampWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://datestamp.mtpa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://datestamp.mtpa.com/">

<xs:element name="getDateStamp" type="tns:getDateStamp"/>

<xs:element name="getDateStampResponse" type="tns:getDateStampResponse"/>

<xs:element name="setDateStamp" type="tns:setDateStamp"/>

<xs:element name="setDateStampResponse" type="tns:setDateStampResponse"/>

<xs:complexType name="setDateStamp">
<xs:sequence>
<xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setDateStampResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDateStamp">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDateStampResponse">
<xs:sequence>
<xs:element name="return" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>